# Python virtual env
.venv/

# dotenv creds
.env

# Local data and outputs
output/
data/

# VS Code settings
.vscode/

# Byte-compiled / caches
__pycache__/
*.py[cod]

**/.claude/settings.local.json
